[2016-12-12 18:41] TzviyaSiegman opened #1 "Adjust reference to EPUB spec"
It would be best to link to EPUB 3 Umbrella spec at http://www.idpf.org/epub/31/spec/epub-spec.html instead of overview. This document links to all specs in the 3.1 family, including Accessibility 1.0.

[2016-12-13 08:59] iherman commented on #1
Done in PR #2

[2016-12-13 08:59] #1 closed, assigned to nobody

[2017-01-13 08:47] iherman opened #4 "Testing requirement in the charter"
The charter template has been changed, and there is now a required reference to testing. This should be updated

[2017-01-20 09:58] iherman commented on #4
Done in https://github.com/w3c/dpubwg-charter/commit/52cd0f57979618183f541ac32980ffb862542da5

[2017-01-20 09:58] #4 closed, assigned to iherman

[2017-01-22 20:06] lrosenthol opened #6 "Update goals section to match current text in PWP document"
this is based on some older text - let's get it up to date

[2017-01-22 20:07] lrosenthol opened #7 "Update Scope and Goals sections to reflect state of PWP draft"
As per #6 , we should the latest text

[2017-01-22 20:08] lrosenthol opened #8 "EPUB compatibility is not a requirement of PWP, only of the EPUB4 profile"
Remove or rewrite "Compatibility with EPUB 3 will be a consideration in development of all three specifications"

[2017-01-22 20:11] lrosenthol opened #9 "Definition of the WP spec needs work"
The current statement is (an incorrect) definition of a WP rather than a description of what the specification is trying to accomplish.

[2017-01-22 20:13] lrosenthol opened #10 "Definition of DPUB-ARIA module should also say something..."
...about other input that may be incorporated.  It's not just about merging in the EPUB doc and that's it

[2017-01-22 21:04] GarthConboy commented on #8
I'm not sure I would count "will be a consideration" as meaning "is a requirement".  :-)

It (EPUB 3 compatibility) is, indeed, not a requirement of "WP", but it is a requirement (or at least consideration) of "P" (or one of the "P"s).

[2017-01-22 21:07] GarthConboy commented on #7
This should have been done in Ivan's latest proposed draft t be discussed Monday.  Right, Ivan?

[2017-01-22 21:07] GarthConboy commented on #6
This should have been done in Ivan's latest proposed draft t be discussed Monday.  Right, Ivan?

[2017-01-22 23:50] GarthConboy commented on #8
Well, actually, being able to represent the core functionality of EPUB 3 (e.g., expression of a linear reading order over a collection of resources) in WP is interesting.

[2017-01-23 05:34] lrosenthol commented on #8
I expect that many concepts from EPUB will make their way into PWP, but not
in a syntax compatible manner

[2017-01-23 10:34] iherman commented on #9
Can you be more specific? What I did was to simply take over the text from the PWP draft.

That being said, we may want to postpone solving this issue until we have a (more) final text in the PWP draft. The two should be consistent imho.

[2017-01-23 10:35] lrosenthol commented on #9
Yes I think simply postponing is the best.

On Mon, Jan 23, 2017 at 5:34 AM, Ivan Herman <notifications@github.com>
wrote:

[2017-01-23 10:37] iherman commented on #6
(@lrosenthol: Admin proposal: can we close this issue and keep only #7, referring both scope and goals? I think we can all agree that a consistency with the DPUB draft is essential, we can track that in one single issue... If you agree, can you close this and rename the other one?)

[2017-01-23 10:38] iherman commented on #7
I agree that there is a need for consistency, and we should update this text when we get to an equilibrium point on the PWP draft (at least the relevant sections). The current text reflects the status of the PWP text at the time of writing. (With only editorial changes.)

[2017-01-23 10:47] iherman commented on #8
I tried to be non-committal with the text "will be a consideration", and I am not sure why that is a problem. Clearly, there is no *requirement* to take over feature, and there is certainly no reference to syntax.

To take some examples, the metadata specified for EPUB3.1 may very well be a good set of metadata that we require for a WP. We may consider the same with the DPUB-ARIA usage (which is p

[2017-01-23 10:47] lrosenthol commented on #6
Yes that's fine..  Will do.

On Mon, Jan 23, 2017 at 5:37 AM, Ivan Herman <notifications@github.com>
wrote:

[2017-01-23 10:48] #6 closed, assigned to nobody

[2017-01-23 10:48] lrosenthol commented on #7
Updated title as per discussion with @iherman

[2017-01-23 10:52] lrosenthol commented on #8
To me (and possibly other readers) it implies that EPUB may/will be given greater weight when considering the developing of WP & PWP than may actually happen.

[2017-01-23 11:00] iherman commented on #10
I agree. See #11 as an alternative.

[2017-01-23 11:03] iherman commented on #8
I am happy to _add_ other document types whose similar features we may get inspired on.

[2017-01-23 12:55] lrosenthol commented on #10
@iherman I like the proposed change!   Thanks!

[2017-01-23 15:52] GarthConboy commented on #8
In my mind, WP will want to be a functional (though not compatible) superset of EPUB, while EPUB 4 will be (one of) the "P"s.

[2017-01-24 10:44] iherman commented on #10
Merged Per #11, closing

[2017-01-24 10:44] #10 closed, assigned to nobody

[2017-02-13 16:32] iherman commented on #9
The changes have now been agreed upon in the IG, and are now part of the charter, too.

[2017-02-13 16:32] #9 closed, assigned to nobody

[2017-02-13 16:33] iherman commented on #7
The PWP definition part is already done, but further discussion on, eg, offline/online should be pursued.

[2017-02-14 12:49] therealglazou opened #12 "Strong objection against section 3.1 of the proposed Charter"
I am **strongly** objecting against section 3.1 of the proposed Charter that reads:

This is a way of locking innovation/disruption and pushes the future WG on a path that is not even discussed with its future membership. Furthermore, EPUB 3.1 and its proprietary XML formats is not Web-compatible and one of the main goals of this WG is to bridge the gap between Web and Ebooks.

[2017-02-14 15:33] astearns commented on #12
I agree. The discussions in the interest group have been useful precisely because we have been considering the requirements of web publications without reference to EPUB compatibility.

Including EPUB4 as a deliverable for the working group will have three pernicious effects:

- It will bias discussions of web publications towards EPUB solutions. We should be looking for web-centric solutions for

[2017-02-14 20:23] dauwhe commented on #12
Although I've certainly been guilty of speculating about profiles, I don't think we want a foundational assumption that profiles of web publications will be required. It may be a logical outcome of the working group's process, but I would prefer that to be proven, not assumed.

[2017-02-14 20:27] Ryladog opened #13 "Change WCAG WG to AG WG"
In 4.1 W3C Groups
The **Web Content Accessibility Guidelines Working Group** NAME has been changed by the W3C to the **Accessibility Guidelines Working Group**.

Fix typo (shold to should):
"That Working Group is responsible for the development of WCAG; the Digital Publishing Working Group shold work together with that Working Group to ensure the inclusion of publication specific features. "

[2017-02-14 20:30] GarthConboy commented on #12
Well, at least somewhat disagree.  :-)

First I'll start where where I agree -- that would be with the statement above "As stated, it reserves "a higher degree of comprehensive accessibility capabilities and reliability" to the profile. These should be folded in to web publications, not diverted into a profile."

Now where I disagree, as part of the "merger" of the IDPF into W3C the future of EPUB

[2017-02-14 21:29] astearns commented on #12
@GarthConboy "the future of EPUB would get on the rec-track via work by the DPUB WG" - could you provide a reference for this? I haven't been following everything about the merger, but have only seen the commitment to maintaining the current version of EPUB

[2017-02-14 21:45] rickj commented on #8
As a result of the IDPF 'merger', EPUB must specifically be given consideration (of some weight).   As @iherman said above, the decision to give consideration of features from other document types should be part of the conversation, but that does not change the explicit discussion that must happen around EPUB.

[2017-02-14 21:54] lrosenthol commented on #8
@rickj

Of course.  In fact, the draft charter includes the fact that in addition to delivering on (P)WP, there is also a separate work item to deliver EPUB 4 (a profile of PWP).  This implies (to me) that PWP will support any/all requirements that EPUB 4 needs in the foundational layers.

But EPUB 4 doesn't necessary get any greater weight than any other profile of (P)WP might.  Each profile will

[2017-02-14 21:58] lrosenthol commented on #12
@astearns It's from the agreement that the IDPF and W3C entered into, which **only** allows former IDPF members to join this particular WG (and no others).  Since EPUB 4 will be built on top of (P)WP, it means that (P)WP work and EPUB 4 work have to take place in the same WG.   And even if you were to be able to split them - you'd end up with almost 100% identical memberships.

[2017-02-14 22:01] lrosenthol commented on #12
@dauwhe Actually, Dave, we **do** want profiles as a foundational design goal.  And as @GarthConboy said, EPUB 4 is just one of those profiles and it is compatible (for some definition of compatible) with EPUB 3.x.

As I think I said in email. I agree that the reliability piece should indeed go into the (P)WP statement and not EPUB 4.  As to the accessibility stuff, I think that is being worked ou

[2017-02-15 06:03] iherman commented on #12
(Admin: Copying, with his permission, the response of Gregg Vanderheiden on the same issue raised by Daniel on the AC forum mailing list. Doing this just to have all the arguments at one place.

[2017-02-15 08:07] #13 closed, assigned to nobody

[2017-02-15 08:07] iherman commented on #13
Thanks @Ryladog

[2017-02-15 08:24] therealglazou commented on #12
thank you @iherman

[2017-02-15 08:50] therealglazou commented on #12
In response to Gregg:

1. first, no, "Compatibility is (not) one of the key factors in creating standards". I remind you that EPUB 3.0.1 is incompatible with EPUB 2, that EPUB 3.1 is mostly incompatible (at least in metadata) with EPUB 3.0.1. I implemented all three in my editor BlueGriffon and I know too well how they are incompatible. They're so incompatible that translating a given ebook from a

[2017-02-15 16:10] dauwhe commented on #12
@lrosenthol wrote:

Why? A profile is a baby fork. It's complexity, and I think it needs to be justified rather than assumed.

[2017-02-15 16:31] lrosenthol commented on #12
@dauwhe No idea how I got Doug there - sorry!!

A profile isn't a fork, at least in my mind.  A fork (to me at least) implies breaking changes.  A profile, on the other hand, means that the concepts, techniques, etc. are applied in a different context.

The justification is that there is a desire to apply the concepts of a WP or PWP in multiple workflows, that may not all use the same packaging or

[2017-02-15 16:35] lrosenthol commented on #12
@dauwhe Dave - the other reasons for profiles **and** for making EPUB 4 separate from (P)WP is to address one of the items that @therealglazou raises.  EPUB is an excellent standard for eBooks - with many aspects that are very specific to that industry.  However, those same aspects make it difficult or impossible to use it in other document uses - things we identified as [use cases for PWP](https:

[2017-02-15 16:41] therealglazou commented on #12
@lrosenthol EPUB is such an excellent standard for ebooks that the software ecosystem for it is zilch, if you except publishing servers and reading systems. And conformance of reading systems to the Standard is so weak it's laughable. For RSs, an EPUB is a zip of a ToC and spine and some content documents. They validate nothing, they don't respect the prose of the Standard, they don't respect erro

[2017-02-15 16:44] therealglazou commented on #12
Please all (including myself), this issue is solely about the prose for EPUB 4 being forced to be "a strict functional superset of EPUB 3.1, with incompatibilities minimized" and I suggest we don't go beyond here. If you want to open extra issues on other topics or the Charter in general, feel free to do it.

[2017-02-15 16:53] GarthConboy commented on #12
I would not be unhappy with replacing:

"a strict functional superset of EPUB 3.1, with incompatibilities minimized"

With:

"generally a functional superset of EPUB 3.1, with round-tripping to/from EPUB 3.1 considered highly desirable"

We do need to assure that the EPUB 4 serialization is a place that the publishing industry can move forward to (from EPUB 3.1) -- likely years out, as EPUB 3.1 ad

[2017-02-15 16:54] lrosenthol commented on #12
I don't think you need "generally" at the beginning...but otherwise, works
for me.

On Wed, Feb 15, 2017 at 11:53 AM, GarthConboy <notifications@github.com>
wrote:

[2017-02-15 17:01] GarthConboy commented on #12
Thanks Leonard!

I just included "generally" to imply that we don't intend to require a full/complete superset -- I could see some EPUB 3.1 features getting deprecated with prejudice... as in not available at all in EPUB 4.  (and no, not gonna cough up that list now!  :-).

[2017-02-15 17:04] therealglazou commented on #12
@GarthConboy I raised the issue and I don't think I ever said I am happy with that proposal. UPDATE: did I misunderstand? Your prose juste above sounds like you did make the edit...

[2017-02-15 17:27] GarthConboy commented on #12
Nope -- just was making a proposal on this issue -- no edit yet.   (and don't think I implied that you (Daniel) were happy with it, though I can hope!)

[2017-02-22 00:05] dbaron opened #15 "Digital Rights Management should not be in scope"
The [proposed charter for a Digital Publishing WG](https://w3c.github.io/dpubwg-charter/) references a number of input documents, one of which is the [EPUB 3.1 member submission](https://www.w3.org/Submission/2017/SUBM-epub31-20170125/).  One of the six documents in this submission is [EPUB Open Container Format (OCF) 3.1](https://www.w3.org/Submission/2017/SUBM-epub-ocf-20170125/), which contains

[2017-02-22 04:18] iherman commented on #15
@dbaron, the current proposed charter already lists DRM explicitly as being out of scope in the [relevant section](https://w3c.github.io/dpubwg-charter/#out-of-scope).

[2017-02-22 05:44] dbaron commented on #15
Ah, that's good to see.  (It's possible I missed it because I was searching for "Rights", as DRM is typically expanded as "Digital Right**s** Management".)

[2017-02-22 05:46] iherman commented on #15
... which shows that it is probably a good idea to expand the acronym! I mark this issue as editorial...

[2017-02-22 08:48] tantek commented on #15
Minor nit (in looking at charter txt as of now):
s/Digital Right Management/Digital Rights Management

[2017-02-22 11:07] tantek commented on #15
Why the parenthetical "(however, the Working Group shouldn’t make any design decision that would make such features impossible) " ? That seems both antithetical to the intent, and frankly, a source of possible abuse, that is, could be twisted to argue, by not making such feature impossible, you must allow for an EME-like mechanism. I'd prefer to simply leave out that parenthetical.

[2017-02-27 17:46] lrosenthol opened #17 "Addressing "editorial note" for 3.2"
Let's determine what to do and either remove it (my preference) or not.

[2017-02-27 18:00] iherman commented on #17
Discussed on the call of 2017-02-27 and was decided to remove it

[2017-02-28 09:17] iherman commented on #17
For the records: relevant minutes on the decision are at: https://www.w3.org/2017/02/27-dpub-minutes.html#mozTocId462950

[2017-02-28 09:21] iherman commented on #17
Change happened on 2017-02-28, see commit https://github.com/w3c/dpubwg-charter/commit/a6991aeca4deae7fe2e627243b7091dc7cd9c69a

[2017-02-28 09:21] #17 closed, assigned to nobody

[2017-03-07 14:20] iherman opened #19 "horizontal reviews"
Just noting: we will have to get an internal horizontal review of the charter within the staff before going to the AC.

[2017-03-09 06:51] iherman opened #20 "Change the references to the pwp and pwp-ucr drafts"
At the moment these point at the editors' draft; it is better to refer to a stable documents, ie, the /TR versions

[2017-03-09 06:51] iherman commented on #7
Done now.

[2017-03-09 06:51] #7 closed, assigned to iherman

[2017-03-09 06:53] iherman commented on #8
Essentially the same issue as #12. Leaving this issue open to keep the discussion thread, but they should be closed, eventually, together.

[2017-03-09 06:59] iherman opened #21 "Use the W3C Software and Document license"
Issue raised on behalf of Chris Lilley (@svgeesus) on the mailing list

[2017-03-09 07:00] iherman commented on #21
Note: the current choice was not based on any discussion, it was just copy-pasted from other places.

[2017-03-09 07:01] iherman opened #22 "Coordination details with the CSS WG"
Issue raised on behalf of Chris Lilley (@svgeesus) on the mailing list

Also, could DPubWG help CSS WG in the development and testing of existing and new capabilities that are needed by Digital Publishing.

[2017-03-09 15:31] #20 closed, assigned to iherman

[2017-03-10 22:55] jar398 opened #23 "Broken hyperlink"
Where it says "have already been documented elsewhere, the most" the hyperlink under "documented elsewhere" has a typo in it

[2017-03-11 05:44] #23 closed, assigned to nobody

[2017-03-11 05:44] iherman commented on #23
Thanks @jar398, I have taken care of it in https://github.com/w3c/dpubwg-charter/commit/3040b7e21ee9139c00e4b6265312a759d1a62df3

[2017-03-11 15:09] jar398 opened #24 "Confusing terminology: "publication", "web publication""
I find the Goals and Scope sections to be very hard to follow, in part because of the attempt to co-opt very common terms for the very specialized immediate purpose.

I see "publication" used in four different ways, none of which match the ordinary language meaning of the word. Similarly "web publication" is a common phrase and it seems to have little to do with what you're talking about.

Ordinar

[2017-03-11 15:33] jar398 opened #25 "Offline reading is not a property of a document"
The scope section for the most part says that the project is merely to define a new document type (in the sense of MIME type), although I suppose it does not commit to that. This is a much more straightforward and conventional idea than the rhetoric found in the goals section seems to say, so I think both sections should be rewritten to make this clear. However, one requirement makes no sense in t

[2017-03-13 12:55] whmccoy opened #26 "Consider optimal WG name (perhaps "Web Publications Working Group")"
The scope of proposed WG charter focuses solely on Web Publications and is based on "Web Publications" supporting documents (use cases & requirements and vision). It is anticipated that the new W3C Publishing Business Group will take on the responsibility for being a conduit between publishing industry and other W3C WGs that is presently part of the scope of the Digital Publishing Interest Group.

[2017-03-13 12:59] whmccoy opened #27 "Motivate need for EPUB 4 in the charter"
It has been observed that the draft charter focuses on the motivation for Web Publicaitons and doesn't explicitly motivate **why** we need an EPUB 4 **now** (with "now"  being understood in the context of the expected timeline of developing W3C Recommendations to mean "within the next several years"). This motivation should be added along with, perhaps, suitable fuzziness about whether there are g

[2017-03-13 13:05] whmccoy commented on #8
We should distinguish between functional compatibility with EPUB 3 (e.g. since EPUB 3 has a feature to synchronize prerecorded audio and text rendering, Media Overlays then EPUB 4 should have such a feature with a superset of functionality) and strict compatibility (EPUB 4's feature should if possible *be* EPUB 3 Media Overlays). I see the latter as more of a nice-to-have and to be subordinated to

[2017-03-13 13:14] GarthConboy commented on #15
A little history: EPUB (for all it's relevance, or lack thereof) is an unencrypted and un-DRM-ed format [which matches my religion, FWIW].  In EPUB there are "hooks" available to which signatures, encryption, and DRM could be attached.  Left completely unspecified, however.

We need to ensure, for PWP to be adopted in practice by the publishing industry, that we don't do something that would prohi

[2017-03-13 13:26] llemeurfr opened #28 "Imperfect description of EDRLab in the charter"
The organization which will maintain EPUBCheck has still not be defined. It may be either the Readium Foundation or EDRLab. I hope that this will be soon defined, but maybe not before the end of March.

I therefore propose the following rephrasing:
"EDRLab, acting as the European headquarter of the Readium Foundation, is actively working on the ReadiumJS, Readium SDK and Readium-2 projects. The la

[2017-03-13 13:40] GarthConboy commented on #12
As discussed at the March 13th DPUB BG meeting, and agreed there, is this following replacement for EPUB 4 in section 3.1:

EPUB 4: “This specification defines a functional profile of the general idea of Packaged Web Publications that may deliver a higher degree of comprehensive accessibility capabilities and reliability.  This specification should generally be a functional superset of EPUB 3.1, w

[2017-03-13 13:50] therealglazou commented on #27
I would handle this as a Business Case to be written by the BG, explaining why work on the future of publications is needed, and only refer to that document from the WG Charter. So this is a new document, most probably short, on BG's radar.

[2017-03-13 14:01] GarthConboy commented on #26
Agreed at March 13th DG meeting:

Publishing Working Group

[2017-03-13 14:02] GarthConboy commented on #21
Agreed, change will be made.

[2017-03-13 14:05] GarthConboy commented on #8
Should be closed per resolution resolution to issue #12 -- @lrosenthol concept of Profiles maintained.

[2017-03-13 15:16] GarthConboy opened #29 "Need to add a Liaison to the EPUB CG."
Title says it all.

[2017-03-13 15:32] GarthConboy commented on #29
The same should also be true to the Publishing Business Group.

[2017-03-13 17:00] iherman commented on #29
Actually, the same should be true for the Publishing BG!

[2017-03-13 17:28] GarthConboy commented on #29
As it does in the preceding comment!  :-)

[2017-03-14 11:44] #21 closed, assigned to nobody

[2017-03-14 11:44] #26 closed, assigned to nobody

[2017-03-14 11:44] #28 closed, assigned to nobody

[2017-03-14 11:56] #29 closed, assigned to nobody

[2017-03-14 12:23] iherman commented on #8
There is a PR (https://github.com/w3c/dpubwg-charter/pull/31) now for #12; closing this issue.

[2017-03-14 12:23] #8 closed, assigned to nobody

[2017-03-14 14:29] dauwhe commented on #22
Suggested text:

[2017-03-14 14:59] iherman commented on #22
Sounds good to me.

I would wait at least a day before incorporating it, unless I get a massive amount of +1-s right now:-)

Thanks!

[2017-03-14 16:37] mattgarrish opened #32 "Typo - EPUB&3"
Under the EPUB 3 CG section there are two instances of "EPUB&amp;3".

[2017-03-14 16:45] mattgarrish opened #33 "What is "a strong cooperation pattern"?"
This sentence trails both the EPUB 3 CG and Publishing Business Group sections, but its meaning is opaque:

I'd suggest either being more specific about what is meant, or simplify the wording so it doesn't sound so weasely (e.g., "The two groups will formally cooperate to ensure").

[2017-03-14 17:53] iherman commented on #22
/CC @svgeesus

[2017-03-14 18:03] #32 closed, assigned to nobody

[2017-03-14 18:12] #33 closed, assigned to nobody

[2017-03-14 18:41] laudrain commented on #22
+1
Luc

De : Ivan Herman <notifications@github.com<mailto:notifications@github.com>>
Répondre à : w3c/dpubwg-charter <reply@reply.github.com<mailto:reply@reply.github.com>>
Date : mardi 14 mars 2017 15:59
À : w3c/dpubwg-charter <dpubwg-charter@noreply.github.com<mailto:dpubwg-charter@noreply.github.com>>
Cc : Subscribed <subscribed@noreply.github.com<mailto:subscribed@noreply.github.com>>
Objet :

[2017-03-14 19:46] mattgarrish commented on #22
Minor nit, but the last sentence sounds unsure of itself for a charter. Could it be reconstructed to make liaisons more of a recognized need? Maybe: "The group will designate liaisons to work with the CSS WG on issues, as needed."

[2017-03-15 08:58] iherman commented on #22
@mattgarrish, I take your point but maybe I would combine the two:

WDYT?

[2017-03-15 11:56] mattgarrish commented on #22
That works for me.

[2017-03-15 12:17] mattgarrish commented on #22
If you want to make me really happy, maybe s/likely/ideally/. :)

But I can live with the proposed wording.

[2017-03-15 12:22] llemeurfr commented on #12
After reading again this complex and still "fuzzy" sentence, may I propose an alternative?

EPUB 4: “This specification defines a specialization of the model defined by Packaged Web Publications, that may deliver a higher degree of comprehensive accessibility capabilities and reliability. EPUB 4 should generally be a functional superset of EPUB 3.1 and functional round-tripping to/from EPUB 3.1 is

[2017-03-15 12:53] iherman commented on #12
Hm... I am not sure. The difference, as I see it, is to refer to "specialization" instead of "profile".

Although we do not yet have a clear definition of what we mean by profiling, I believe the term "profile" is more widely used in our world for what we think we have in mind, ie, turning "SHOULD" into "MUST" for some features, or restricting the set of tags that one could use. "Specialization",

[2017-03-15 13:03] iherman commented on #22
Added a Pull Request #34. @mattgarrish, it is my goal to make you really happy:-)

[2017-03-15 13:13] llemeurfr commented on #12
Re EDUPUB (a "profile" of EPUB 3.01), an issue is that this is more a kind of extension rather than a restriction, if we consider the addition of annotations, scriptable components, distributable objects, QTI, LTI, Caliper Analytics. I know that only http://www.idpf.org/epub/profiles/edu/spec/ is defined as a profile, but the term is still now a bit fuzzy.
But I don't mind if "profile" is kept ins

[2017-03-15 15:02] lrosenthol commented on #12
i agree that we should keep profile - at least for the purpose of the
charter.

On Wed, Mar 15, 2017 at 8:53 AM, Ivan Herman <notifications@github.com>
wrote:

[2017-03-15 17:45] WSchindler opened #35 "Mission statement still boilerplate text"
The **mission statement** ("The mission of the Publishing Working Group is to [do something cool and specific on the Web]." currently has a boilerplate text.

Should that stand for a link to a separate document or is it just a placeholder for text to be written?

Section 1 **Goals** nicely describes the intended convergence of traditional (electronic) publishing and the Web. Should this introducti

[2017-03-15 17:48] GarthConboy commented on #22
SGTM

Best,
    Garth

On Wed, Mar 15, 2017 at 1:03 PM, Ivan Herman <notifications@github.com>
wrote:

[2017-03-15 17:58] WSchindler commented on #12
I prefer "profile" to "specialization" because this terms in my opinion better conveys that EPUB4  should be on the same level as a PWP and not just be a special (edge) case of a PWP. Achieving a common technical basis for web publishing (online and offline), apps and printed books with options to cater for the specific requirements of each channel would be a great step :)

[2017-03-15 18:31] iherman commented on #35
Exactly as you say: it should be some sort of an abstract of the rest. TBD.

Ivan

[2017-03-15 19:39] r12a opened #36 "i18n related thoughts"
I don't share that confidence. Any time i hear someone say that i18n probably isn't a problem it sets off alarm bells, because it usually is if you don't incorporate it into your requirements and plans. What about book bindings and page directions for Arabic/Hebrew, etc?  Is that covered?  What about the items highlighted as lacking implementation or specification in CSS (esp. for paged media) in

[2017-03-15 23:51] lrosenthol commented on #12
Actually Wolfgang, the point of a profile is that it will be related to but
not the same as.

On Wed, Mar 15, 2017 at 1:58 PM Wolfgang Schindler <notifications@github.com>
wrote:

[2017-03-16 07:47] #12 closed, assigned to nobody

[2017-03-16 07:48] #22 closed, assigned to nobody

[2017-03-16 08:46] iherman commented on #36
As you say, the work here *is* removed from the content level. A Web Publication is a collection of Web Resources; the work indeeds concentrates on the *collection* (what it means, how it is organized, etc.) and does not intend to standardize anything on the content. These are left to existing standards, like HTML, SVG or others. What do you think should be added *in the charter*?

That being said

[2017-03-16 08:59] r12a commented on #36
Ok.

Thanks for the changes you made.

[2017-03-16 18:29] WSchindler commented on #25
Let me try to find to integrate the argument of @jar398:
"_Any software agent consuming and rendering_ a Web Publication must _ensure that it is_ available and functional while the user is offline." (my additions are in italics)

[2017-03-16 18:55] lrosenthol commented on #27
The thinking to date, on the "number of things" is 3 - just as listed in the Charter.

- WP, address the needs for publications within the "normal" context of the web.
- PWP, address the overall issues encountered with packaged OWP content (with a focus on those that comply with WP)
- EPUB 4, provide a PWP-compliant version of EPUB that also addresses EPUB3 compatibility.

[2017-03-16 18:57] lrosenthol commented on #25
@jar398 and @WSchindler
While I agree that many aspects of "going offline" can/will be handled by the UA, there **are** things that a WP can do as well.  Business rules/logic that determine whether about what to present when offline (especially in the context of a live data feed), for example.   There is nothing that a UA could do in that case.

[2017-03-17 10:44] WSchindler commented on #25
When your content consists in part of live data drawn from the web, I absolutely agree with you that a WP spec should define how to handle this aspect in an offline scenario. This would be thus be part of defining an aspect of a WP.

[2017-03-17 14:13] WSchindler opened #40 "Minor editorial issue: use of ampersand in EPUB&3.1"
I just stumbled over "EPUB&3.1" which is used twice in Section 3.1, EPUB 4. Is this a typo that should correctly be written as "EPUB 3.1" or does it have a special meaning I don't know yet?

[2017-03-17 14:19] iherman commented on #40
Ouch, again… For some reason, the &nbsp; (which is what I tried to put there) got transformed into a &amp; by… I am not sure. I wish there was an easy way to type a non breaking space and one would not be forced to use the XML entity instead…

Will take care of this right away.

[2017-03-17 14:20] #40 closed, assigned to nobody

[2017-03-20 17:05] iherman commented on #27
For the records: the separate document, and the reference from the text, has been discussed, and decided upon, in a separate mailing list discussion. See the [corresponding thread](https://lists.w3.org/Archives/Public/public-publishingbg/2017Mar/0021.html).

[2017-03-20 17:06] #27 closed, assigned to nobody

[2017-03-21 07:19] lrosenthol commented on #24
@jar398 I've reviewed the Goals and Scope section and find that our use of the word publication is consistent and well defined.In fact, we define our usage of it up front and then continue to treat it in the same manner throughout.  Also, I find our definition is consistent with that provided by [standard dictionaries](http://www.dictionary.com/browse/publication?s=t).

In the same way, we very cl

[2017-03-21 08:19] iherman opened #42 "Reference to Latinreq in the charter"
(This is just a reminder) As agreed on the [IG call of 2017-03-20](https://www.w3.org/2017/03/20-dpub-minutes.html) latinreq will also be listed as a possible WG Note published by this WG.

Cc: @dauwhe

[2017-03-21 13:35] jar398 opened #43 "If DRM is mentioned at all, legal uses of content should also be mentioned"
Without prejudice concerning whether DRM should be in scope, the draft currently puts it *in* scope, lightly, with the comment "the Working Group shouldn’t make any design decision that would make such features impossible" (belying the section's title).

*If* there is language like that for DRM, then there should also be parallel language regarding legal use of content, such as reproduction of pub

[2017-03-21 13:40] iherman commented on #43
(purely administrative comment)

@jar398, would you mind adding this comment to issue #15 and close this issue? I am a little bit concerned about the duplication of issues on the same topic, and your comment seems to be a direct reaction on https://github.com/w3c/dpubwg-charter/issues/15#issuecomment-286103338

Thank you

[2017-03-21 13:46] jar398 commented on #15
Ivan has asked me to move the statement of #43 to this issue. I agree that #43 is generally on the subject, but I do not think that resolving this issue (#15) would resolve #43, unless there were a decision to remove any mention (including the wording suggested above) from the draft. Because this is a different question from the one that was raised, I made it a separate issue.

However I defer to

[2017-03-21 13:47] #43 closed, assigned to nobody

[2017-03-22 07:53] mattgarrish commented on #15
The DRM statement is a bit confusing. Can something be out of scope and at the same time in scope to not affect it?

Since I guess it has to go somewhere, it might be better if this followed the list so could be explained without the long parenthetical. A thought would be to just have "Digital rights management schemes" with an asterisk in the list followed by a one-sentence paragraph like:

"Whil

[2017-03-22 09:48] iherman commented on #15
@mattgarrish, I believe that putting any reference to DRM anywhere else than in the “out of scope” section would lead to an infinite amount of discussions; I would prefer to avoid that. Ie, I would prefer to go along the lines of what we have now: put a clear stake in the ground that we will _not_ develop any type of DRM, but accompany it with a clear(er) statement that we will not create artifici

[2017-03-22 14:05] mattgarrish commented on #15
Yes, I wasn't arguing that we move it to in-scope, although technically it is in scope as far as it necessitates design decisions that don't prevent it.

But how do we say that DRM must be removable to ensure fair use, even though DRM isn't in scope? That's the problem I couldn't quite wrap my head around as far as a design principle to follow. Or does "open up" in this case mean no barrier of any

[2017-03-22 15:20] WSchindler commented on #15
In the interest of fair use and accessibility, I would prefer to keep Web Publications (like EPUB) as an open, non-proprietary, patent-free and easily accessible format without intrinsic DRM mechanisms.

As DRM is primarily a legal issue with technical implementations, it is of course out of scope for the Publishing WG, but I would restrict ourselves in this issue to say that we don't intend to ma

[2017-03-22 15:42] GarthConboy commented on #15
I find Matt's suggestion two comments above:

_Digital Right Management (DRM) for Web Publications. The design of Web Publications must favor an open framework that does not impinge on the legal reuse, reproduction and exercise of fair use rights. At the same time, the Working Group should not make any design decisions that would make the implementation of DRM on top of this framework impossible._

[2017-03-22 16:09] mattgarrish commented on #15
s/Right/Rights/

Bad retype on my part.

[2017-03-22 16:32] iherman commented on #19
* [x] Internationalization (see #36)
* [x] Accessibility
* [x] Security
* [x] Privacy

[2017-03-22 16:41] rickj commented on #15
I'm having cognitive dissonance with the initial "must" and the subsequent "should".  They need to match.  IMO, if the open framework is a must, the design decision statement has to be a must also.  I do not favor that, however; I believe they should both be a "should".

[2017-03-22 18:01] mattgarrish commented on #15
That's fine with me.

I was considering framework along the lines of manifest, packaging, etc., with DRM as a separate layer with only a hook like EPUB has. That makes the statements largely disconnected. But I suppose when considering the format in total as the framework then a "must favour" may be too strong, even if it isn't exclusionary. Industry standard technologies have been known to trip u

[2017-03-22 18:55] iherman commented on #15
@rickj, I agree that both sentences must (sic!:-) be a musts or shoulds. However, I have the impression that a "must" makes both statements stronger, ie, I am, at this moment, more in favour of a "must" on both places.

[2017-03-22 19:18] laudrain commented on #15
Fine with me too.
And 2 "must" is a strong position I support.

[2017-03-23 02:16] rickj commented on #15
I'm happy with both as a "must" as well.  My initial preference was out of an abundance of caution and sensitivity.

This closes this issue in my mind.

[2017-03-23 07:09] iherman commented on #15
I have made a new commit in the relevant branch; to make it clear, it now says:

which seems to reflect the current consensus, so I thought it better to replace the previous text in the branch which has been superseded. The text is still in a separate Pull Request (#30), ie, not yet incorporated into the final text.

[2017-03-24 12:53] joeberkovitz opened #44 "Clarify references to Web App Manifests, Service Workers"
It would provide more clarity if the references to some of the more recent specs included very short summaries of what aspects of the specs are relevant.

Web App Manifests could easily be confused with the now-deprecated Cache Manifests and perhaps this should be called out.

Service Workers are still not widely understood as a vehicle for creating offline apps, so it's worth saying this.

[2017-03-24 15:27] iherman commented on #44
@joeberkovitz can you look at https://github.com/w3c/dpubwg-charter/pull/45 to see if that works for you?

Thanks

[2017-03-24 19:30] bfoleary opened #46 "Editorial review of the WG charter"
At the March 13 meeting of the Publishing BG, I agreed to review the WG charter and suggest editorial changes. That's what this note covers.

Amend the first sentence to read "The mission of the Publishing Working Group is to provide the technical specifications that will make publications first-class entities on the Web." [this is drawn from subsequent document text]

In the section on meeting sc

[2017-03-25 08:26] iherman commented on #24
@jar398 , also with respect to the comment of @lrosenthol, I would prefer to close this issue. Are you o.k. with this?

[2017-03-26 00:33] murata2makoto commented on #42
I have a question.  There are several [requirement documents](https://www.w3.org/International/layout) from the W3C I18N WG, where latinreq is one of them.  [ International text layout and typography index](http://w3c.github.io/typography/)   from the I18N WG is particularly important.   What is the relationship between this group and the I18N WG?

[2017-03-26 07:48] murata2makoto commented on #36
Package documents in EPUB 3/3.0.1/3.1 have mechanisms for page layout.  For example.  rendition:layout="flow-scrolled-continuous" in a package document specifies the intended behavior of reading systems.  The scroll direction is an I18N issue.  Neither CSS nor HTML will cover this mechanism.  See ["4.3 Package Rendering Metadata"](http://www.idpf.org/epub/31/spec/epub-packages.html#sec-package-met

[2017-03-26 08:04] iherman commented on #36
@murata0204,

The charter draft currently contains the following statement

(I have cut out the similar references to accessibility.)

What this essentially means: although we do have a strong relations to CSS and I18N (as listed in the liaison section) there _may_ issues coming up during the work that needs additional work _in this WG_. If that happens, we will have to deal with it.

I do not thi

[2017-03-26 08:09] iherman commented on #42
@murata0204,

the specific liaisons to the I18N Working and Interest Groups are not explicitly called out; see the statement at the very beginning of section 4.

and, for reasons of succinctness, these are not called out in the list because, per W3C process, such reviews of, say, I18N MUST happen in any case.

Do you believe that we should have more explicit liaison statement in the list? I am not

[2017-03-26 08:10] murata2makoto commented on #36
I  rather think  that we are obliged to find a way to represent all backhanded layout properties of EPUB3 in an OWP.  The statement you referenced is too general, but we have specific, real problems right now.

[2017-03-26 08:19] iherman commented on #36
@murata0204 I do not think we disagree on the fact that there are some EPUB features that we will have to, somehow, represent EPUB 3 features in PWP, or a profile thereof. The issue at hand right now how much details we want to put into the charter beyond what is there

Let me also refer to the additional statement related to EPUB4 vs. EPUB3:

[2017-03-27 13:08] r12a commented on #42
I think there are a couple of possibilities here. I haven't searched out the background.

1. If the charter lists lreq as a deliverable of the group, that's fine. It would be nice to see progress on it, and that should help.
2. If lreq is referenced just as a source of requirements, then it's not fine to ignore the other documents.

[2017-03-27 13:25] iherman commented on #42
The idea is the former, as agreed on our latest call. I am still waiting for the proper terminology to be used in the charter

@dauwhe <https://github.com/dauwhe> ?

[2017-03-27 15:10] bfoleary commented on #25
I've been charged with editing the draft, mostly for grammar and style, sometimes for content. For the fourth bullet, I'm proposing the following combined language:

- When defining Web Publications, we make no distinction between online and offline reading. Regardless of their network connections, users should have a seamless experience interacting with a Web Publication. Any software agent consu

[2017-03-27 15:51] lrosenthol commented on #25
I can live with that.

On Mon, Mar 27, 2017 at 11:10 AM, bfoleary <notifications@github.com> wrote:

[2017-03-27 16:17] jar398 commented on #25
Fine by me

[2017-03-27 17:25] jar398 commented on #24
~~I don't care what you do with your~~ Do as you like with the issue tracker, but I care a little about being heard and understood, which I clearly wasn't. (That is probably mostly my fault, but not entirely, since communication is a two way street.) I only submitted the issue as what I thought was the desired way to respond to your widely disseminated request for comments on the draft charter. An

[2017-03-27 17:56] iherman commented on #44
Closed by virtue of #45.

[2017-03-27 17:56] #44 closed, assigned to nobody

[2017-03-27 18:18] jar398 commented on #24
hmm, that came out more strident than I intended.

[2017-03-27 20:11] jar398 commented on #24
Specific recommendations, as requested:

1. In order to avoid confusion with web publications as they are known in ordinary language today, replace "Web Publication" with "Web Publication Resource Set (WPRS)" throughout, where it is used "bare" i.e. not as a modifier and not modified. Or, some other expression of your choosing.

(I am not bothered by using "Web Publication" as a modifier or modifi

[2017-03-27 20:20] lrosenthol commented on #24
Thanks @jar398. Let me respond.

Let me start with some misunderstandings:
- A Web Publication is a general concept that we expect to apply to a set
of web resources that meet a set of criteria (to be determined by the WG as
part of its work) that are made available via the web/http.   These may or
may not be packaged and there may be multiple profiles of them.

- A Packaged Web Publication is als

[2017-03-27 22:37] TzviyaSiegman commented on #24
/me emerges from leave to comment that it's not up to the authors of the charter to tell readers what they don't understand. If readers say that this is unclear, then we must make it clear to those not involved in authoring the document.  I'll be back in May, but I do hope that this will be completed before I return.

[2017-03-28 01:50] mattgarrish commented on #24
The name does pose a point of confusion between format and concept. If you accept that "web publication" is taken by a general audience as any publication on the web, then if you talk about a web publication are you talking about this format or the generic concept?

If the expectation is that this specification of "web publication" will eventually supplant the common understanding, then all is goo

[2017-03-28 07:25] iherman commented on #24
@jar398, you made two different proposals in https://github.com/w3c/dpubwg-charter/issues/24#issuecomment-289571074; to facilitate the discussion, I would prefer to separate these two in two different comments.

I can see your point that this section may be a bit too long and general. On the other hand, I think that your proposal goes to the other extreme. I will try to come up with a somewhat sho

[2017-03-28 07:31] iherman commented on #24
@jar398, this is my comment on:

I must admit I am very hesitant of touching this. I fail to understand why the term "Web Publication" is worse than many others; we have spent a long time trying to pin this term and in my experience a discussion on such terminology can take an inordinate amount of time. I do find the "WPRS" term a mouthful and too 'technical'; I do not see how this term would be p

[2017-03-28 08:28] iherman commented on #46
Thank you @bfoleary. I have incorporated all the changes; I have only three minor remarks:

- The mission statement is still to be finalized (see also issue #35) but I agree that your change is welcome for the time being. Done.

- Your comment on the structural semantics: you are absolutely right, I have added a separate entry for this among the input documents.

- The 'Out of Scope' on DRM has ch

[2017-03-28 08:28] #25 closed, assigned to nobody

[2017-03-28 08:28] #46 closed, assigned to iherman

[2017-03-28 08:44] iherman commented on #42
@dauwhe, the reference has been added in https://github.com/w3c/dpubwg-charter/commit/26c266ce076fce1783babcf854e7f8828130ed39 ; please review and close the issue if this is fine.

[2017-03-28 10:19] iherman commented on #24
@jar398, @lrosenthol, @mattgarrish, @TzviyaSiegman

I have gone through the goal section of the charter. Re-reading it I actually tend to agree with @jar398 that this section needs a rewrite, it does not really fit the style of a charter.

I came up with a shorter text; I have created a separate Pull Request (#47) with the new section. You can also see the result in a human readable form at [rawgi

[2017-03-28 13:30] mattgarrish commented on #24
The name just has a certain lack of specificity to it. It's sort of like Web Page to HTML in my mind. The web publication is the product, of course, but is it also the technology?

All I think it potentially leads to is people referring to them as "W3C Web Publications", or similar, in the future because "web publications" on its own could mean a variety of things depending on the audience's preco

[2017-03-28 14:12] dbaron commented on #15
Like my colleague @tantek's https://github.com/w3c/dpubwg-charter/issues/15#issuecomment-281638877 on the earlier proposed text, I'm still not comfortable with the second sentence there.

The Web Publications work is itself built on top of many other Web technologies, and having a requirement that Web Publications not make design decisions that would make DRM impossible appears to impose that same

[2017-03-28 15:27] iherman opened #48 "Reference to BFF"
(Just a reminder issue) a proper reference to the BFF work of the IDPF EPUB WG is still missing.

Cc: @dauwhe

[2017-03-28 15:59] citizencontact commented on #15
I would separate out issues of DRM from other aspects of legal use. I believe any system should built and analyzed based on a BLT methodology (business issues such as transactions and use, legal issues such as jurisdiction, and at the bottom, technical implementation). So if these epubs and html documents should have the hooks for digital signing/hashing using XML Digital Signatures (https://www.w

[2017-03-28 16:10] HadrienGardeur commented on #48
I'm not entirely sure that there's something stable to reference purely for BFF.

[2017-03-28 16:13] HadrienGardeur commented on #15
We should draw a line between WP and PWP/EPUB regarding DRM.

As it's been pointed out before, DRM for WP is a non-starter, even purely from a technological standpoint.

PWP is different since we'll most likely have a package and the ability to handle DRM in a similar way as EPUB.

[2017-03-28 16:21] rickj commented on #24
as discussed on the call today, we are going to go forward with the existing terminology for web publications with the understanding that the group (once chartered) has the ability to make changes later, should a need be determined.

[2017-03-28 16:23] rickj commented on #24
as discussed on the call today, we agreed to review the proposed edits to the goals section from Ivan above, and provide responses by mid week (Wednesday, local time) to allow this to be closed before the end of the week.

[2017-03-28 16:41] graham-bell commented on #15
@dbaron – I don't in any way disagree that DRM is out of scope, but I would imagine that a lot of people would be looking for some clarification of that (particularly in the light of the fact that there has been so much discussion on this point). Can I suggest

Out of scope: DRM (for the avoidance of doubt, this means that the WG should not make any decision that would either require or prevent th

[2017-03-28 16:45] llemeurfr commented on #15
@graham-bell 's proposal seems good, as it makes the WG neutral about this DRM aspect.

[2017-03-29 14:52] JensKlingelhoefer commented on #15
I agree with Graham's proposal. Otherwise we would certainly see a lot of discussions outside this group about what "out of scope" would actually mean.

[2017-03-29 17:03] rickj commented on #24
Other than having to lookup the word "ergonomy" to make sure it was what I thought, I'm supportive of the revised goals section in #47

[2017-03-29 19:49] lrosenthol commented on #48
@HadrienGardeur should we remove the reference then?

[2017-03-29 20:08] mattgarrish commented on #48
The IDPF didn't formally publish anything, but there are google docs from the 3.1 revision that deal with the browser/server friendly manifestation: the [use cases and requirements](https://docs.google.com/document/d/1ZTBiSyyIgQMXh_9Ubtep4I7TfW6Yu6l8e06-9EKaNQU/edit#heading=h.v0la5426mf86) and a [subgroup document](https://docs.google.com/document/d/1nXd8xMsNOA7sdwudpO2KS_L0Hc-0SxYx1ScrGIhRBBg/edi

[2017-03-29 20:55] HadrienGardeur commented on #48
The subgroup document is IMO replaced by what Readium has produced at this point. The Use Cases and Requirements could be useful, I'll let @iherman decide.

It's possible also that @dauwhe would like to reference the proposal about using strictly HTML, but I'll let hime chime in on that.

[2017-03-29 21:07] TzviyaSiegman commented on #48
@dauwhe is traveling, and this should eait until he returns.

On Mar 29, 2017 4:55 PM, "Hadrien Gardeur" <notifications@github.com> wrote:

[2017-03-29 21:38] jar398 commented on #24
Regarding "publishing" and the Goals section: #47 is a big improvement and I've commented there.

Regarding "Web Publication" I think some people are hearing me, so I will sign off.

[2017-03-29 22:12] mattgarrish commented on #48
@HadrienGardeur Sure, I was only responding to the "work of the IDPF EPUB WG" part of what Ivan wrote. The WG never formally resumed the work beyond those docs.

[2017-03-30 09:35] iherman commented on #24
In view of the last comment and #47, closing this issue.

[2017-03-30 09:35] #24 closed, assigned to nobody

[2017-03-30 09:36] iherman opened #49 "Final version of the 'mission' statement"
This is more of an administrative step: I have accepted pull request #47 to allow others to comment on a version of the charter that is as final as possible. There was one minor issue on that text, reproduced in this comment.

[2017-03-30 09:38] iherman commented on #49
Reproducing the comment of @jar398  (https://github.com/w3c/dpubwg-charter/pull/47#issuecomment-290222047) here

---

Much better - it gets rid of the problem with "publication" and helps a lot with "web publication" since its definition is moved to a less high-profile position.

The last line still doesn't say what it means:

As written this makes no sense since many publications (e.g. articles i

[2017-03-30 09:39] iherman commented on #49
@jar398, the current text says (as a reaction on your comment):

Does that work for you?

[2017-03-30 09:45] iherman commented on #48
I have the impression that, in this case, we should remove this reference from the list. I would wait until @dauwhe's return, of course.

@HadrienGardeur I have not checked, but I would expect that the Use case document has a large overlaps with the UCR document published by the DPUB IG. It also looks like a working document (lots of comments open, etc), which may not look right as an input docume

[2017-03-30 09:49] iherman commented on #36
The conversation goes into (valuable) details that are more relevant for the WG than for the charter. I would prefer to (re-)close this issue.

[2017-03-30 09:49] #36 closed, assigned to nobody

[2017-03-30 09:51] iherman commented on #49
Note that this text (probably the last paragraph) could become the overall mission statement of the charter, thereby answering to the issue raised in #35, too.

[2017-03-30 12:07] wseltzer opened #50 "Is "origin" used as in web security?"
In Web Application Security, "origin" is a defined term with specific meaning for security boundaries (the same-origin policy, see https://tools.ietf.org/html/rfc6454

If that's not the sense meant here in the scope section, could you use a different term?

[2017-03-30 12:11] wseltzer opened #51 "Is "uniquely identify" per-work or per-copy?"
Since per-copy unique identifiers would raise privacy concerns, please clarify the use of "uniquely identifiable".

[2017-03-30 12:58] pbelfanti commented on #49
How about just adding "all", as in "In short, all publications - with their specificities and traditions- should become first-class citizens on the web." That acknowledges that some publications already are, but some are not and need to be.

[2017-03-30 13:00] iherman commented on #49
I like that!

[2017-03-30 13:20] lrosenthol commented on #50
Yes, the use of term origin in the scope is meant in the sense of web
application security.

On Thu, Mar 30, 2017 at 8:07 AM, Wendy Seltzer <notifications@github.com>
wrote:

[2017-03-30 13:33] iherman commented on #50
Ah! @lrosenthol if this is indeed the case (you are the security expert:-) maybe we should add a reference to make it clear. I am on a call right now; can you change the text to include that?

Thanks

[2017-03-30 13:53] laudrain commented on #51
Later in that paragraph, the text  says "The act of publishing involves obtaining resources and organizing them into a publication, which must be “manifested” by having files on a Web server. Thus the publisher provides an origin for the WP, and **a URL that can uniquely identify that manifestation**."
Refering to the library concept of manifestation in FRBR model, that unique identifier doesn't i

[2017-03-30 13:55] iherman commented on #50
Actually... @lrosenthol @wseltzer : I have just added a link to the word 'origin', linking to the RFC itself. If you think this is fine, could you simply close this issue?

[2017-03-30 14:01] iherman commented on #51
@wseltzer @laudrain : would it be o.k. if, for the purpose of avoiding misunderstanding, we would make the word 'manifestation' a link to the FRBR concept? @wseltzer, I believe that, from a security point of view a FRBR 'work' and a FRBR 'manifestation' is the same; the privacy issue my come up if we were talking about the identification of a singular copy.

@laudrain which is the authoritative re

[2017-03-30 14:16] lrosenthol commented on #50
That change is perfect - thanks, @iherman.

On Thu, Mar 30, 2017 at 9:55 AM, Ivan Herman <notifications@github.com>
wrote:

[2017-03-30 14:23] #50 closed, assigned to nobody

[2017-03-30 14:52] laudrain commented on #51
**@iherman** : Yes I think it is the good one.

[2017-03-30 15:01] iherman commented on #51
Ok. The full sentence now says:

@wseltzer , does that work for you? If yes, the issue can also be closed.

[2017-03-30 15:03] iherman commented on #49
@pbelfanti @jar398 : I have modified the text per @pbelfanti's comment.

[2017-03-30 18:54] mac2net commented on #24
Hi Everyone
I have been away for a while, but in reviewing these logs I see there is STILL disagreement after a very very long time about a name for this format.
So I want to remind you I proposed something very different, but I believe it encompasses the group's objectives both physically and spiritually.
**Browser Document Format (BDF)**

https://medium.com/@Mac2net/bdf-browser-document-format-7

[2017-03-30 20:52] rickj commented on #24
The issue I would have with "browser document format" is would cause confusion for offline, downloadable profiles of the format that may not be viewed in a browser, but in a native application instead.  Yes, I understand that technically they would probably be viewed using an embedded browser that the native app is using, but end users do not understand that nuance.

[2017-03-30 21:27] mattgarrish commented on #24
Browser document format sounds like another name for HTML. If we make a change, it should add more specificity, not less.

[2017-03-30 22:07] mac2net commented on #24
LOL browser is more appropriate than web. Web means internet. Browser doesn't. HTML is used for both. An embedded bowser is a browser. No problem. This has been going around in circles for almost a year. Let's commemorate! https://www.youtube.com/watch?v=ONST-MnTmYk

Honestly PWP, WP – they are awful names! And fully spelled out? Portable Web Publication... Then folks at XYZ and ZYX companies cons

[2017-03-31 03:32] #49 closed, assigned to nobody

[2017-03-31 03:38] iherman commented on #24
Dear all, we have decided to close his issue because discussing on the terms/name can become an endless discussion which does not fundamentally change the charter. On the other hand, we are under a time pressure. For good or for worth, the term Web Publication has been accepted by the majority of those who were part of the discussions so far, and we have also acknowledged that the Working Group, i

[2017-03-31 07:00] mac2net commented on #24
I keep seeing the name issue pop up, so, while we can close GitHub issues, the name debate is not going away. Also, since last fall, there have been 2 names - "PWP" and "WP", which is indicative of profound issues among the group members. "BDF" addresses this with it's multi-flavor approach in a coherent way.

[2017-03-31 18:50] michael-n-cooper opened #53 "Liaison to AG WG unclear"
The liaison to AG WG is unclear to me, it's a lot of words that don't really translate into a coherent meaning that I can parse. I'm not quite sure what you're aiming at, but based on previous conversations I suggest something like "Address digital publishing use cases in accessibility guidelines, and develop techniques to implement accessibility features in e-books." (Or whatever the current poli

[2017-04-01 08:23] avneeshsingh commented on #53
The statements are from high level view because it was created for the scope of the charter. We can make it more specific for AG working group by rephrasing it as follows:
The Publishing Working Group will coordinate with the AG Working Group to integrate accessibility requirements created as part of its recommendation-track deliverables into AG success criteria and techniques. One or more pipelin

[2017-04-03 03:45] iherman commented on #15
The pull request #30 reflects the [proposal](https://github.com/w3c/dpubwg-charter/issues/15#issuecomment-289830577) of @graham-bell.

[2017-04-03 12:41] iherman commented on #51
Closing, in agreement with @wseltzer

[2017-04-03 12:41] #51 closed, assigned to nobody

[2017-04-03 22:42] iherman opened #54 "Reference to WCAG and WAI..."
(Filing this on behalf of Judy Brewer)

[2017-04-03 22:46] rickj commented on #35
Closed by #52

[2017-04-03 22:46] #35 closed, assigned to nobody

[2017-04-03 22:47] iherman commented on #54
@avneeshsingh, could you look at this?

[2017-04-04 07:25] avneeshsingh commented on #54
As per principles, I am fine with the suggestion. Some considerations:
- If we are going for list of standards, what about other W3C accessibility standards like UAAG?
- On the lines of WCAG 2.0 and later do we need to say ATAG 2.0 and later and so on?

[2017-04-04 20:26] michael-n-cooper commented on #53
Hmm. I don't see that the proposed rewording is any different from what is in the charter draft, which prompted me to file this comment (or to say "I don't get it" to Ivan, who asked me to file it as a comment). I still find the wording difficult, I really don't know what it's proposing, and whether it's at all in line with my expectations of DPub and AG coordination. That said, the fact of the li

[2017-04-04 21:05] mattgarrish commented on #53
The second sentence is a tough parse. I believe it's simply acknowledging that we have different timelines and so things will happen at different speeds in different places (e.g., we might set a practice first, but then remove it later if it finds a general home in the AG in a future release). Does that really need saying, though, or is it an accepted fact?

Could we perhaps instead integrate Mich

[2017-04-04 21:09] michael-n-cooper commented on #53
That proposal works for me.

[2017-04-04 21:45] iherman commented on #53
@avneeshsingh, is it o.k. with you? I would then make the changes and close this issue.

[2017-04-04 22:45] iherman commented on #54
@avneeshsingh, I am not sure UAAG is relevant for this Working Group. We are dealing with the format level issues, which affects WCAG, obviously. Even ATAG is a bit of a stretch, actually, although some of the issues may affect the way authoring work so I can see some reasons for it. But how user agent operates is beyond the scope of this WG in my view.

What about:

[2017-04-05 00:34] pbelfanti commented on #53
+1 on Matt Garish's wording

[2017-04-05 04:31] avneeshsingh commented on #54
Looks fine. We are mainly concerned with WCAG, and authoring tool guidelines can accompany the text.
The reading systems work related to epubtest.org may go in some other W3C group.
So, this issue can be closed.

[2017-04-05 06:25] #54 closed, assigned to nobody

[2017-04-05 08:38] wseltzer commented on #15
I'd recommend that we leave it at "DRM is out of scope." If there's ambiguity in the meaning of out-of-scope, the WG can resolve it at a later date.

[2017-04-05 11:10] swickr opened #57 "Add early reference to coordination with other W3C Groups"
Re-reading this draft top-to-bottom with (marginally) fresh eyes, it occurs to me that new readers may not realize the full import of the words in 1. Goals ".. to provide the necessary technologies on the Open Web Platform to ...".

Specifically, as clarified later in section 4, this Working Group must work with other W3C Working Groups to collectively provide the necessary technologies; i.e. this

[2017-04-05 11:23] swickr opened #58 "Editorial nits"
A couple of small fixes to polish this:

2. Scope
2nd bullet, 3rd sentence: "... if it is to become/-s-/ portable."
6th bullet: "... to a range /+of+/ meta-information ..."

3. Deliverables, EPUB 4: "... to/from EPUB 3.1 /+is+/ considered ..."

2.3 Success Criteria,
4. Coordination,
6. Communication,
7. Decision Policy
Several Process Document links in these sections are to an out-of-date dated ve

[2017-04-05 13:15] mattgarrish opened #59 "best practices and primers for content authors?"
In 3.2, the third bullet reads:

Isn't it possible that we'll develop the same for content authoring? Accessibility best practices being one area we might consider as we coordinate for inclusion in AG, for example.

In any case, it might be helpful to be more flexible here with wording like: "Primers or Best Practice documents to support content authors and application developers."

[2017-04-05 13:21] GarthConboy commented on #15
If folks generally happy with the proposed (Graham's) solutions:

Out of scope: DRM (for the avoidance of doubt, this means that the WG should not make any decision that would either require or prevent the application of DRM technologies)

I would go with that, rather than shortening further.

[2017-04-05 13:44] llemeurfr commented on #15
I'm fine with this solution.
Laurent Le Meur
CTO, EDRLab

[2017-04-05 13:45] jar398 commented on #15
In answer to the question "are folks generally happy with proposed solution" please see my comment above. Wendy's suggestion is consistent with what I requested, and I think it's fine; Graham's proposed solution is not since it puts a stake in the ground, while pretending not to.

You asked.

[2017-04-05 13:58] mattgarrish commented on #15
Would it help to get away from decision making and technology compatibility and instead state what is necessary:

Out of scope: DRM -- except optional hook(s) that allow for the application of

[2017-04-05 14:00] jar398 commented on #15
It wouldn't help me. Did you read my previous comment, the one beginning "Ivan has asked me to"?

[2017-04-05 14:07] jar398 commented on #15
I think if the charter had Wendy's wording, and then the WG decided to work on the hooks (which we know it will try to do), then it has plausible deniability, since working on the hooks is not working on DRM.  So I'm not sure what there is to fear in Wendy's proposal.

[2017-04-05 14:12] mattgarrish commented on #15
I tried to answer that above, but am not sure if any of that prose is still being considered. It could be wrapped up into one statement like:

"The design of Web Publications must favor an open framework that does not impinge on the legal reuse, reproduction and exercise of fair use rights. Digital right management schemes are therefore not in scope, but optional hook(s) that allow for their appli

[2017-04-05 14:18] pbelfanti commented on #15
If Wendy’s proposed wording is the path of least resistance, and keeps certain options (or plausible deniability) open, I’m fine with that.

Paul
—
Paul Belfanti
VP, Production, Manufacturing & Content Architecture
(w) 978.639.3536
(m) 201.783.4884

From: Matt Garrish <notifications@github.com>
Reply-To: w3c/dpubwg-charter <reply@reply.github.com>
Date: Wednesday, April 5, 2017 at 10:12 AM
To: w3c

[2017-04-05 14:20] mattgarrish commented on #15
I'm fine with that, too, to be honest.

I'm just floating alternatives to see if they can make everyone a little happier, and seem to miss updates while I'm typing.

[2017-04-05 14:20] jar398 commented on #15
@mattgarish Sorry. Yes, with the quoted wording, or something like that, my comment is addressed.  I was limiting my response to what I saw in your latest comment. So either solution is fine. I will try to shut up now (again).

[2017-04-05 14:21] HadrienGardeur commented on #15
DRM is truly out of scope for this group and there's no need for "DRM specific hooks".

As long as the specification provides a mechanism for dealing with encrypted resources in PWP/EPUB4 that's enough.

[2017-04-05 15:00] GarthConboy commented on #15
Yes, Jonathan ( @jar398 ), I did grok your comment -- just not 100% on board.  :-)

But, that said, as we really need to close this and move on (and leave details to the actual WG), I "can live with" Wendy's ( @wseltzer  ) minimal verbiage.

Alternately, we could combine Graham's and Jonathan's to:

"Out of scope: DRM (for the avoidance of doubt, this means that the WG should not make any decision

[2017-04-05 15:03] llemeurfr commented on #15
Matt's wording is good (also). +1

[2017-04-05 15:15] rickj commented on #15
As much as I'd like to agree with Jonathan or Matt's wording, unfortunately, they both take us down the path of needing to delineate and define "fair use rights", and I don't want to take the charter down that path.

We need to get this into the hands of the WG, so I'm in favor of Wendy's minimalist, or Graham's minimalist + wording.

[2017-04-05 22:29] iherman commented on #15
I am in favor of cutting the discussion which can go on forever. The minimalist view of @wseltzer means that we can move on at last, and I actually have trust in all parties around the table that the WG will not do anything crazy in either direction. Ie: declare the DRM to be out of scope and not try to get into explanations.

[2017-04-05 22:37] iherman commented on #59
+1. Will take care of it in a few.

[2017-04-05 22:44] iherman commented on #58
+1 taking care of these in a few

[2017-04-05 22:48] iherman commented on #57
+1. Will take care of this in a few.

[2017-04-05 22:52] #59 closed, assigned to nobody

[2017-04-06 00:13] iherman commented on #58
The comment in https://github.com/w3c/dpubwg-charter/commit/ae67370086d9d86874d4bf1a789624f13e1dccda is wrong; it took care of this issue. Closing.

[2017-04-06 00:13] #58 closed, assigned to nobody

[2017-04-06 00:33] dauwhe commented on #42
The proposed text works for me. I seem to be unable to close issues in this repo, but feel free to close.

[2017-04-06 00:34] dauwhe commented on #48
I'm fine with not having a specific reference to BFF in the charter.

[2017-04-06 00:36] iherman commented on #42
Thanks @dauwhe, closing.

[2017-04-06 00:36] #42 closed, assigned to nobody

[2017-04-06 00:38] #48 closed, assigned to nobody

[2017-04-06 00:42] rickj commented on #15
Accepting the minimalist view as detailed by @wseltzer  in https://github.com/w3c/dpubwg-charter/issues/15#issuecomment-291793353, and restating her comment "If there's ambiguity in the meaning of out-of-scope, the WG can resolve it at a later date." we are officially closing this issue.

[2017-04-06 00:42] #15 closed, assigned to iherman

[2017-04-06 00:46] rickj commented on #53
+1 on @mattgarrish wording in https://github.com/w3c/dpubwg-charter/issues/53#issuecomment-291631834

[2017-04-06 00:56] #19 closed, assigned to nobody

[2017-04-06 04:40] avneeshsingh commented on #53
Some clarifications and recommendation:
As I stated earlier, the statement was originally part of the scope, but it went through split, and then went through changes and now the meaning is not clear.
We had 3 objectives for placing all this in scope:
1. Publishing working group is responsible for identifying accessibility
requirements that cannot be addressed by current WCAG versions.
2. Publishin

[2017-04-06 08:29] iherman commented on #53
@rickj @GarthConboy ?

[2017-04-06 10:34] iherman commented on #53
It works for me.

[2017-04-06 19:51] swickr commented on #58
I think it's better to use the "Latest operative" URI rather than yet another dated URI, but at least the 2017 Process URI is better than what had been there.  Thanks.

[2017-04-06 19:59] swickr commented on #57
I didn't mean for you to drop some of the existing text in that sentence, sorry.  I was proposing it read

[2017-04-06 21:47] iherman commented on #57
Ah. I misunderstood.

[2017-04-06 21:47] #57 closed, assigned to nobody

[2017-04-06 21:51] iherman commented on #58
Actually... I am not even sure. Who knows how the process document will change in two years? At that time the WG (hopefully:-) will still be around, but the charter may become problematic...

E.g., when I made the change there was a URI that had, originally, an extra path that is now folded into the process document, so you need only a fragid. :-(

[2017-04-06 22:05] rickj commented on #53
I'm comfortable with this @iherman

[2017-04-06 23:21] murata2makoto commented on #53
I am wondering who is responsible for the maintenance of EPUB accessibility 1.0, which is a part of EPUB 3.1.  Is it in the scope of the EPUB community group, AG WG, or the Publishing Working Group?

[2017-04-07 00:44] mattgarrish commented on #53
EPUB specs will be maintained by the EPUB CG. Webpub accessibility will be a mix of the WG and feeding requirements to the AG WG.

[2017-04-07 03:29] avneeshsingh commented on #53
George and I have the task to propose the future of EPUB 3 accessibility specs. to Publishing Business Group steering committee. Till now, the most practical way looks as to keep EPUB 3 related things in CG. I think that it is a different discussion topic from this issue, so may be it can be taken up in business group or IG conference calls independent of this GitHub issue.

[2017-04-07 22:43] iherman commented on #53
@avneeshsingh @rickj @GarthConboy : I have merged the last pull request, covering this issue, too. @avneeshsingh, to be on the safe side, please check the scope section; if you are fine with it then this issue can be closed.

[2017-04-08 03:51] avneeshsingh commented on #53
I have seen the diff, it looks fine. You can close this issue.

[2017-04-08 05:38] #53 closed, assigned to nobody

[2017-04-10 18:45] jyasskin opened #60 "Milestones includes PWP twice"
https://w3c.github.io/dpubwg-charter/#timeline has:

* WP and PWP:
   * First Public Working Draft (FPWD): Q4 2017.
   * …
* PWP:
   * First Public Working Draft (FPWD): Q4 2017.
   * …

It should probably only list PWP once.

[2017-04-10 18:49] jyasskin opened #61 "Clarify discussion of "the other origin" making choices"
https://w3c.github.io/dpubwg-charter/#scope has:

What does it mean for the "other origin" to make choices about how much trust to grant? I suspect you meant that the browser or user loading content from origin 2 needs to be able to make informed choices about whether to trust the content as if it came from origin 1.

[2017-04-11 04:49] jyasskin opened #62 "pwp-ucr lists requirements, but many are already covered by open web specs"
The [charter](https://w3c.github.io/dpubwg-charter/#goals) is incorrect to say that

For example:
1. https://www.w3.org/TR/pwp-ucr/#unique-identifier is provided by URLs.
1. https://www.w3.org/TR/pwp-ucr/#onloffl is now provided by service workers.
1. https://www.w3.org/TR/pwp-ucr/#reading-order is provided by <link rel="next">.
1. https://www.w3.org/TR/pwp-ucr/#escalating_trust is provided by per

[2017-04-11 05:13] jyasskin opened #63 "It's difficult to trust attribution to another origin"
https://w3c.github.io/dpubwg-charter/#scope says,

If a publication is hosted at another origin, and you want trust decisions to be based on the original origin, we'd need a proof that the publication actually came from the original origin, which is non-trivial. We're trying to solve this as part of https://github.com/dimich-g/webpackage, and hopefully you'll just be able to take advantage of that

[2017-04-11 05:15] mac2net commented on #62
Offline is not solved by device workers let's again be 100% clear.
Service Workers is a cache.

[2017-04-11 05:48] #60 closed, assigned to nobody

[2017-04-11 05:59] iherman commented on #62
@jyasskin, you are that some of the requirements may indeed be covered by current features; in this sense, the sentence is misleading and it must be changed. On the other hand, I don't believe it is the job of the charter to decide which of the UCR items are or are not covered but the charter and which are; there may be some details needing further adjustment or further details on how exactly to u

[2017-04-11 06:17] iherman commented on #63
@jyasskin, you are right. I have created a new pull request (#64) which now includes an additional liaison to the Web App Sec WG:

Would that work for you? Note that there is an "automatic" liaison with the Web Sec IG already as part of the horizontal reviews (and listed in the intro paragraph of the coordination section of the charter)

[2017-04-11 11:55] iherman commented on #61
That is indeed the intention. How about

[2017-04-11 15:08] jyasskin commented on #61
That's clearer, yes. Thanks.

[2017-04-11 15:18] jyasskin commented on #62
That's definitely an improvement.

I'd like to see something that constrains the group to re-use as much existing stuff as practical. Is that already somewhere in the Scope section?

[2017-04-11 15:19] jyasskin commented on #63
Yep, that's great.

[2017-04-11 15:24] iherman commented on #61
Thanks, will do the change in a few minutes.

[2017-04-11 15:25] iherman commented on #61
Closing by virtue of https://github.com/w3c/dpubwg-charter/commit/5a76dadef2f5861ecf7868d42018eab24ed33ef4

[2017-04-11 15:25] #61 closed, assigned to nobody

[2017-04-11 15:26] #63 closed, assigned to nobody

[2017-04-11 15:36] iherman commented on #62
There is, at present, no explicit text and, though that is clearly the intention, I agree it is worth emphasizing.

What I would propose to extend the section above making this explicit. The whole section reads now (on my machine that, it is not committed) as follows:

WDYT?

[2017-04-11 16:42] jyasskin commented on #62
That looks great, thanks!

[2017-04-11 16:47] iherman commented on #62
Closing by virtue of https://github.com/w3c/dpubwg-charter/commit/151c23bb10e89cfa24859a9b3c5161a90a7e329a

[2017-04-11 16:49] #62 closed, assigned to nobody